

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #252B32;

}

.header-container{
    margin-top: 50px;
    width: 90vw;
}

.header-container h1{
    font-size: 50px;
    font-weight: 300;
    color:white;
    margin:0;
}

.header-container h2{
    font-size: 20px;
    font-weight: 200;
    color:white;
    margin:0;
}

.container{
    height: 100%;
width: 90vw;
display: flex;
align-items: center;
}

.card{
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
height: 80%;
flex-grow: .5;
margin: 8px;
transition: all 0.3s ease-in;
border-radius: 15px;
filter: grayscale(60%);
position: relative;
box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.card:hover{
    filter: grayscale(0);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card.active{
    filter: unset;
    flex-grow: 5;
    height: 90%;
    transition: all 0.3s ease-in;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card h3{
    position: absolute;
    bottom: 20px;
    left:30px;
    margin:0;
    color: white;
    letter-spacing: 1px;
    font-weight: 300;
    opacity: 0;
}

.card.active h3{
    opacity: 0.9;
    transition: opacity 0.2s ease-in 0.3s;
}


@media (max-width: 670px) {
    .container {
      width: 95vw;
    }
  
    .card:nth-of-type(4),
    .card:nth-of-type(5) {
      display: none;
    }
  }